In [1]:
L = ["Michael Jackson" , 10.1,1982]
L

['Michael Jackson', 10.1, 1982]

In [5]:
L[-1]

1982

In [6]:
L[-3]

'Michael Jackson'

In [7]:
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [8]:
[ "Michael Jackson", 10.1,1982,[1,2],("A",1) ]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [9]:
L = [ "Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [11]:
L[3:5]

['MJ', 1]

In [12]:
L[3:]

['MJ', 1]

##### Using extend method

In [13]:
L = [ "Michael Jackson", 10.2]
L.extend(['pop',10])
L

['Michael Jackson', 10.2, 'pop', 10]

##### Another similar method is 'appended'. If we apply 'appended' instead of 'extended', we add one element to the list:

In [14]:
L = [ "Michael Jackson", 10.2]
L.append(['pop',10])
L

['Michael Jackson', 10.2, ['pop', 10]]

##### As lists are mutable, we can change them. For example, we can change the first element as follows:

In [15]:
A = ["disco",10,1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

##### We can also delete an element of a list using the del command:

In [16]:
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

#### We can convert a string to a list using 'split'. For example, the method split translates every group of characters separated by a space into an element in a list:

In [17]:
'hard rock'.split()

['hard', 'rock']

##### When we set one variable B equal to A; both A and B are referencing the same list in memory :

In [18]:
A = ["hard rock",10,1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

 ##### Initially, the value of the first element in B is set as hard rock. If we change the first element in A to 'banana', we get an unexpected side effect. As A and B are referencing the same list, if we change list A, then list B also changes. If we check the first element of B we get banana instead of hard rock:

In [23]:
print('Before changing A[0], B[0] is ',B[0])
A[0] = "banana"
print('After changing A[0], A[0] is ',A[0])
print('After changing A[0], B[0] is ',B[0])

Before changing A[0], B[0] is  hard rock
After changing A[0], A[0] is  banana
After changing A[0], B[0] is  banana

In [25]:
from IPython.core.display import HTML
display(HTML('<a ><img src = https://ibm.box.com/shared/static/thdu6y5pzh99qpun4tu2fjvj86st0hbu.gif width = 1000, align = "center"></a>'))

##### Solution : You can clone list A by using the following syntax:

In [26]:
B = A[:]
B

['banana', 10, 1.2]

In [28]:
from IPython.core.display import HTML
display(HTML('<a ><img src = https://ibm.box.com/shared/static/gwx86gaoeizqjvx7xj96cb8i9hn684ei.gif width = 1000, align = "center"></a>'))

###### Now if you change A, B will not change:

In [29]:
print('Before changing A[0], B[0] is ',B[0])
A[0] = "apple"
print('After changing A[0], A[0] is ',A[0])
print('After changing A[0], B[0] is ',B[0])

Before changing A[0], B[0] is  banana
After changing A[0], A[0] is  apple
After changing A[0], B[0] is  banana

### Quiz

#### Create a list 'a_list' , with the following elements 1, “hello”, [1,2,3 ] and True.

In [32]:
a_list=[1,"hello",[1,2,3],True]
a_list

[1, 'hello', [1, 2, 3], True]

#### Find the value stored at index 1 of 'a_list'

In [33]:
a_list[1]

'hello'

In [34]:
a_list[1:3]

['hello', [1, 2, 3]]

#####  Concatenate the following lists A=[1,'a'] abd B=[2,1,'d']:

In [35]:
A=[1,'a']
B=[2,1,'d']

In [38]:
A+B

[1, 'a', 2, 1, 'd']